.login-page {
  height: 100vh;
  width: 100%;
  overflow: hidden;

  background: url("https://raw.githubusercontent.com/antran2123153/image/main/gamevv/cute-black.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-card {
  width: 500px;
  margin: auto;
  padding: 40px 60px;
  margin-top: 100px;

  border-radius: 3px;
  background-color: white;

  & h1 {
    text-align: center;
    font-weight: 100vw 50%;
  }

  & label {
    margin-top: 10px;
  }

  & input {
    font-size: 11pt;
  }
  & button {
    display: flex;
    margin: auto;
    margin-top: 30px;
  }

  a {
    text-decoration: none;
  }
}

@media (max-width: 1000px) {
  .login-page {
    background: url("https://raw.githubusercontent.com/antran2123153/image/main/gamevv/mobile-login.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login-card {
    margin-top: 100px;
    width: 340px;
    padding: 20px 30px;
  }
}
