.text {
  font-size: 8rem;
  text-align: center;

  height: 100vh;
  line-height: 100vh;

  color: #fcedd8;
  background: url("https://raw.githubusercontent.com/antran2123153/image/main/gamevv/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Niconne", cursive;
  font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032, 15px 15px 0px #46b59b,
    20px 20px 0px #017e7f, 25px 25px 0px #052939, 30px 30px 0px #c11a2b,
    35px 35px 0px #c11a2b, 40px 40px 0px #c11a2b, 45px 45px 0px #c11a2b;

  & .play-btn {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    padding: 20px 50px;
  }
}

@media (max-width: 1000px) {
  .text {
    font-size: 2.7rem;
    text-shadow: 3px 3px 0px #eb452b, 5px 5px 0px #efa032, 7px 7px 0px #46b59b,
      9px 9px 0px #017e7f, 11px 11px 0px #052939, 13px 13px 0px #c11a2b,
      15px 15px 0px #c11a2b, 17px 17px 0px #c11a2b, 19px 19px 0px #c11a2b;

    background: url("https://raw.githubusercontent.com/antran2123153/image/main/gamevv/mobile-home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    & .play-btn {
      top: 60vh;
      left: 50%;
      transform: translateX(-50%);
      font-size: 15px;
      padding: 10px 30px;
    }
  }
}
