.user-namager {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 3;

  font-size: 50px;
  cursor: pointer;
  transition: all 0.45s ease 0s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:hover {
    font-size: 60px;
  }
}

.user-manager-menu {
  position: absolute;
  right: 10px;
  top: 80px;
  z-index: 4;

  width: 200px;
  text-align: center;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  & a {
    text-decoration: none;
  }
}

.user-home {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 3;

  font-size: 50px;
  cursor: pointer;
  transition: all 0.45s ease 0s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:hover {
    font-size: 60px;
  }
}

@media (max-width: 1000px) {
  .user-namager,
  .game-namager,
  .user-home {
    font-size: 40px;

    &:hover {
      font-size: 40px;
    }
  }

  .user-manager-menu {
    width: 130px;
    top: 60px;

    & a {
      font-size: 9pt;
    }
  }

  .menu {
    bottom: 4.2rem;
    height: 2rem;

    &-item {
      background-color: rgb(255, 221, 158);
      border: solid 0.01rem rgb(83, 83, 83);
      border-radius: 5px;
      padding: 6px 12px;
      font-size: 12px;
      font-weight: 550;

      &:hover {
        font-size: 15px;
      }
    }
  }
}

@import "../../../node_modules/bootstrap/scss/bootstrap";
