.game-home {
  position: absolute;
  margin: 0;
  padding: 0;

  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  background: url("https://raw.githubusercontent.com/antran2123153/image/main/gamevv/moon-black.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-game {
  width: 20rem;
  height: 20rem;
  cursor: pointer;

  overflow: hidden;
  transition: all 0.35s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  & img {
    height: 45%;
    width: auto;
  }

  &:hover {
    width: 21rem;
    height: 21rem;
    transform: translate(-0.5rem, -0.5rem);
  }

  & .card-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
  }
}

@media (max-width: 1000px) {
  .game-home {
    display: flex;
    margin: auto;
    justify-content: center;

    background: url("https://raw.githubusercontent.com/antran2123153/image/main/gamevv/moon.jpg");

    & .row {
      display: flex;
      width: 100%;
    }
  }

  .card-game {
    width: 90%;
    height: 20rem;
    margin-top: 20px;
    margin-left: 5%;

    &:hover {
      width: 90%;
      height: 21rem;
      transform: none;
    }
  }
}
