.english {
  position: absolute;
  margin: 0;
  padding: 0;

  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  background: url("https://raw.githubusercontent.com/antran2123153/image/main/gamevv/moon-black.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

.english-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 100px;
}

.card-word-en {
  position: relative;
  text-align: center;
  justify-content: center;

  width: 200px;
  height: 100px;
  padding: 10px;

  font-size: x-large;
  font-weight: 600;
  margin: 10px 20px;

  cursor: pointer;
  transition: all 0.35s;
  background-color: rgb(255, 253, 111);
}

.card-word-vn {
  position: relative;
  text-align: center;
  justify-content: center;
  width: 200px;
  height: 150px;
  padding: 10px;

  font-size: x-large;
  font-weight: 500;
  transform: translateY(-25px);
  margin: 10px 20px;

  cursor: pointer;
  transition: all 0.35s;
  background-color: rgb(255, 255, 255);
}

.voca-oke-icon {
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.35s;

  &:hover {
    font-size: 35px;
  }
}

.menorized {
  position: absolute;
  bottom: 50px;
  right: 10px;

  border: 10px;
}

.memorized-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.memorized-return-del-btn {
  font-size: 17px;
  cursor: pointer;
  margin-right: 10px;
}

.new-voca {
  position: absolute;
  bottom: 60px;
  left: 10px;

  & input {
    margin-top: 5px;
  }
}

.new-voca-btn {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

@media (max-width: 1000px) {
  .english-body {
    padding: 60px 20px;
  }

  .card-word-en {
    width: 100px;
    height: 50px;
    padding: 5px;

    font-size: 8pt;
    font-weight: 600;
    margin: 5px;
  }

  .card-word-vn {
    width: 100px;
    height: 60px;
    padding: 5px;

    font-size: 8pt;
    font-weight: 600;
    margin: 5px;
    transform: translateY(-5px);
  }

  .voca-oke-icon {
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.35s;

    &:hover {
      font-size: 35px;
    }
  }

  .menorized {
    font-size: 9pt;
    font-weight: 600;
  }
}
