.a2048 {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  background: url("https://raw.githubusercontent.com/antran2123153/image/main/gamevv/moon-black.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

.header {
  text-align: center;
  margin: 10px;
  font-size: 80px;
  font-weight: 800;

  color: mix(rgb(255, 255, 255), #414141, 85%);
  text-shadow: -0.0075em 0.0075em 0 mix(#fff, #414141, 94%),
    0.005em 0.005em 0 mix(#fff, #414141, 60%),
    0.01em 0.01em 0 mix(#fff, #414141, 62%),
    0.015em 0.015em mix(#fff, #414141, 64%),
    0.02em 0.02em 0 mix(#fff, #414141, 66%),
    0.025em 0.025em 0 mix(#fff, #414141, 68%),
    0.03em 0.03em 0 mix(#fff, #414141, 70%),
    0.035em 0.035em 0 mix(#fff, #414141, 72%);
}

.grid-container {
  width: fit-content;
  padding: 10px;
  margin: auto;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(255, 255, 255, 0.295);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  display: grid;
  grid-gap: 10px;

  border-radius: 5px;
}

.grid-item {
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  display: flex;
  height: 6rem;
  width: 6rem;
  font-size: 25px;
  font-weight: 500;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 2px -5px 2px inset;
  transition: all 0.2s;
}
.grid-item-hidden {
  display: flex;
  opacity: 0.25;
  height: 6rem;
  width: 6rem;
}

.game-over {
  padding: 6rem 3rem;
  border: solid 2px;
  width: 50%;
  margin: auto;

  text-align: center;
  font-size: 50px;
  font-weight: 800;
  border-radius: 20px;

  color: white;

  & button {
    margin-top: 20px;
  }
}

.menu-2048 {
  display: flex;
  justify-content: space-around;
  width: 65%;
  margin: auto;
  margin-bottom: 10px;

  font-weight: 700;
  border-radius: 5px;
  padding: 10px 20px;

  background-color: rgb(255, 255, 255);
}

.menu-span-2048 {
  font-weight: 400;
  font-size: 17pt;
  color: #6b0000;
}

.group-btn {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: auto;
  margin-top: 20px;
}

@media (max-width: 1000px) {
  .menu-2048 {
    display: grid;
    justify-content: flex-start;
  }

  .group-btn {
    display: grid;
    margin: auto;

    & button {
      margin-top: 10px;
    }
  }

  .game-over {
    width: 90%;
  }

  .row {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    & .col-8 {
      text-align: center;
      width: 100%;
    }
    & .col-4 {
      margin-top: 20px;
      text-align: center;
      width: 100%;
    }
  }

  .header {
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
  }

  .grid-container {
    padding: 6px;
    width: fit-content;
    margin: auto;
    grid-gap: 6px;
  }
  .grid-item {
    height: 3rem;
    width: 3rem;
    font-size: 12px;
    font-weight: 400;
  }
  .grid-item-hidden {
    height: 3rem;
    width: 3rem;
  }

  .game-over {
    padding: 2rem 1rem;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
  }
}

@import "../../../node_modules/bootstrap/scss/bootstrap";
